body{
    margin:0;
}

.top-row-light-blue{
    height:40px;; 
    background-color:#2191e9;
}
.bottom-gray-footer{
    height:30px;
    border: 1px solid black;
}
.dashboard{
    height:100px;
    background-color: #124570;
    padding:20px;
}
.icon{
    justify-content: center;
    align-items: center;
}
.content-container{
    margin-top:10px;
    margin-bottom:20px;
    height:700px;
    border: 1px solid red;
}
.dash-row{
    font-family: 'PT Sans', sans-serif;
    color:white;
    background-color: #33cc66;
    border-radius:5px;
    margin-bottom:10px;
    height:60px;
    vertical-align: middle;
    padding-top:10px;
}

.searchbar{
    border-radius: 5px;
    float:right;
}
.dash-row h2{
    padding-left:10px;
}

.white-content{
    height: 400px;
    border: 3px dotted blue;
}
.blue-box{
    height: 200px;
    border: 3px dotted pink;
    margin-top:10px;
}
.anouncements, .lorem, .arrows, .analytics, .tasks, .box, .test{
    border: 1px solid blueviolet;
}