body{
    margin:0;
}

.top-row-light-blue{
    height:40px;; 
    background-color:#2191e9;
}
.bottom-gray-footer{
   
    border: 1px solid black;
}
.dashboard{
    height:100px;
    background-color: #124570;
    padding:20px;
}
.icon{
    justify-content: center;
    align-items: center;
}
.content-container{
    margin-top:10px;
    margin-bottom:20px;
  
    border: 1px solid red;
}
.dash-row{
    font-family: 'PT Sans', sans-serif;
    color:white;
    background-color: #33cc66;
    border-radius:5px;
    margin-bottom:10px;
    height:60px;
    vertical-align: middle;
    padding-top:10px;
}

.searchbar{
    border-radius: 5px;
    float:right;
}
.dash-row h2{
    padding-left:10px;
}

.white-content{
    margin:0;
    border: 3px dotted blue;
    border-radius:5px;
}
.blue-box{
   background-color: #2191e9;
    border: 3px dotted pink;
    margin-top:10px;
  
}
.box{
    border:5px solid red;
    
    
}
.img-div{
    height:160px;
    background-color:white;
    border-radius: 5px;
    margin:10px;
}


.lorem, .arrows, .analytics, .box, .row-task, .tasks{
    border: 1px solid blueviolet;
}
.anouncements{
    color: #fe7f13;
}
#task-title{
    padding-top:20px;
    color: #2191e9;
    font-size: 20pt;
}
.numbers{

    height:20px;
    width:20px;
}
#gray-one{
   
    font-size: 12pt;
    color:#cccccc;
}
.other-blues{
    font-size: 12pt;
    color: #2191e9;
}
.icon-man{
  
   float:right;
    height:25px;
    width:50px;
    
}
#gear{
    float:right;
    padding-top:30px;
 
}
.small-text{
    margin:0;
    font-size:6pt;
}
.small-white-text{
    font-size:8pt;
    color:white;
    margin:0;
}
.recs{
    color:black;
    font-size: 10pt;
    margin:0;
}
.dotted{
    border:none;
    border-top:1px dotted #cccccc;
    color:#fff;
    background-color:#fff;
    height:1px;
}
#graph{
    /* height:325px;
    width:550px; */
    width:100%;
    padding:0;
    border-right: 1px solid #eeeeee;
}
#big-graph-container{
    padding-right:0;
    
}
.circle-graphs{
    width:100%;
    margin:0;
    padding-left:25px;
    padding-bottom: 10px;
}
.circle-labels{
    font-size: 10pt;
    text-align: center;
}
.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #eeeeee;
}
.sm{
    padding:10px;
}
.outline{
    margin-top:50px;
    border: 1px solid black;
    border-radius:5px;
    padding:0;  
}
.blue-div{
    height:50px;
    background-color: #2191e9;
    text-align: center;
    color:white;
    z-index: 5;
}
.blue-text{
    margin:0;
    font-size: 15pt;
}
.graph-green-orange{
    width:100%;
}
.graph-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer{
    position: relative;
    height:50px;
}
.avatar{
  position:absolute;
  z-index: 2;
}
.box{
    height:250px;
    padding:10px;
    padding-top:25px;
   
}
.bluebox{
    margin-top:10px;
    border-radius: 5px;
    background-color: #2191e9;
    height:200px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bluebox p{
    color:white;
    padding-left:50px;
    padding-right:50px;
}
.arrow-nav-left, .arrow-nav-right{
    position: absolute;
}
.green-box{
    background-color:#33cc66;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    top:42%;
    left: 10%;
    right: 10%;
    padding:0;
    border-radius: 5px;
}
.green-box p{
    color:white;
    text-align: center;
    margin: 4px;
}