body{
    margin:0;
}

.top-row-light-blue{
    height:40px;; 
    background-color:#2191e9;
}
.mini-of-raleigh p{
    color:white;
    float:right;
    padding-right:10px;
    padding-top:10px;
}
.help{
    border-left:1px solid gray;
    border-right:1px solid gray;
    padding:10px;
}
.white-gear{
    padding:10px;
}
.bottom-gray-footer{
   background-color:#f4f4f4;
   border-top:1px solid black;
   
}
.dashboard{
    position: relative;
    height:100px;
    /* background-color: #124570; */
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size:100%;
    padding:20px;
    padding-bottom: 0;
}
.icon{
    justify-content: center;
    align-items: center;
}
.content-container{
    margin-top:10px;
    margin-bottom:20px;
/*   
    border: 1px solid red; */
}
.dash-row{
    font-family: 'PT Sans', sans-serif;
    color:white;
    background-color: #33cc66;
    border-radius:5px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:0px;
    height:60px;
    vertical-align: middle;
    padding-top:10px;
}

.searchbar{
    border-radius: 5px;
    float:right;
}
.dash-row h2{
    padding-left:10px;
}

.white-content{
    margin:0;
    border: 8px solid #eeeeee;
    border-radius:5px!important;
    border-image: 
    linear-gradient( 
      #eeeeee, transparent)1;
}
.blue-box{
   background-color: #2191e9;
    /* border: 3px dotted pink; */
    margin: 9px;
    margin-top: 0;

  
}

.img-div{
    position: relative;
    height:160px;
    background-color:white;
    border-radius: 5px;
    margin:10px;
}


.lorem, .arrows, .analytics,  .row-task, .tasks, .anouncements{
    border: 1px solid #eeeeee;
    padding:10px;
}
.anouncements{
    color: #fe7f13;
}
#task-title{
    padding-top:20px;
    padding-left:10px;
    padding-bottom:5px;
    color: #2191e9;
    font-size: 25pt;
}
.with-drop{
    padding-left:30px;
}
.numbers{

    height:20px;
    width:20px;
}
#gray-one{
   
    font-size: 12pt;
    color:#cccccc;
}
.other-blues{
    font-size: 12pt;
    color: #2191e9;
}
.icon-man{
  
   float:right;
    height:25px;
    width:50px;
    
}
#gear{
    float:right;
    padding-top:30px;
 
}
.small-text{
    margin:0;
    font-size:6pt;
    color:black;
}
.small-white-text{
    font-size:8pt;
    color:white;
    margin:0;
}
.recs{
    color:black;
    font-size: 10pt;
    margin:0;
}
.dotted{
    border:none;
    border-top:1px dotted #cccccc;
    color:#fff;
    background-color:#fff;
    height:1px;
}
#graph{
    /* height:325px;
    width:550px; */
    width:100%;
    padding:0;
    border-right: 1px solid #eeeeee;
}
#big-graph-container{
    padding-right:0;
    
}
.circle-graphs{
    width:100%;
    margin:0;
    padding-left:25px;
    padding-bottom: 10px;
}
.circle-labels{
    font-size: 10pt;
    text-align: center;
}
.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #eeeeee;
}
.sm{
    margin:5px;
}
.outline{
    position: relative;
    margin-top:50px;
    border: 1px solid black;
    border-radius:5px;
    padding:0; 
    z-index: 50000; 
}
.blue-div{
    height:50px;
    background-color: #2191e9;
    text-align: center;
    color:white;
    z-index: 5;
}
.blue-text{
    margin:0;
    font-size: 15pt;
}
.graph-green-orange{
    width:100%;
}
.graph-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer{
    position: relative;
    height:50px;
}
.avatar{
  position:absolute;
  z-index: 2;
}
.box{
    height:250px;
    padding:25px;
    padding-top:25px;
   
}
.fb{
    background-color: #114570;
    color:white;
    border-radius: 5px;
    margin:24px;
}
.twitter{
    background-color: #2191e9;
    color:white;
    border-radius: 5px;
    margin:24px;  
}
.foursquare{
    background-color: #3a599b;
    color:white;
    border-radius: 5px;
    margin:24px;
}
.google{
    background-color: #33cc66;
    color:white;
    border-radius: 5px;
    margin:24px;
}
.bluebox{
    margin-top:10px;
    border-radius: 5px;
    background-color: #2191e9;
    height:200px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bluebox p{
    color:white;
    padding-left:50px;
    padding-right:50px;
}
.arrow-nav-left, .arrow-nav-right{
    position: absolute;
}
.green-box{
    background-color:#33cc66;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    top:42%;
    left: 10%;
    right: 10%;
    padding:0;
    border-radius: 5px;
}
.green-box p{
    color:white;
    text-align: center;
    margin: 4px;
}
#marker-triangle{
   
    position: absolute;
    top: 90%;
    left: 26%;
}
.icon1{
    background-image: url("../img/blue1.png");
    background-repeat: no-repeat;
}
.icon1:hover{
    background-image: url("../img/green1.png");
    background-repeat: no-repeat;
}

.icon2{
    background-image: url("../img/blue2.png");
    background-repeat: no-repeat;
}
.icon2:hover{
    background-image: url("../img/green2.png");
    background-repeat: no-repeat;
}

.icon3{
    background-image: url("../img/blue3.png");
    background-repeat: no-repeat;
}
.icon3:hover{
    background-image: url("../img/green3.png");
    background-repeat: no-repeat;
}
.icon4{
    background-image: url("../img/blue4.png");
    background-repeat: no-repeat;
}
.icon4:hover{
    background-image: url("../img/green4.png");
    background-repeat: no-repeat;
}
.icon5{
    background-image: url("../img/blue5.png");
    background-repeat: no-repeat;
}
.icon5:hover{
    background-image: url("../img/green5.png");
    background-repeat: no-repeat;
}
.icon6{
    background-image: url("../img/blue6.png");
    background-repeat: no-repeat;
}
.icon6:hover{
    background-image: url("../img/green6.png");
    background-repeat: no-repeat;
}
.dropbtn {

    font-size: 12px;
    border: none;
    cursor: pointer;
  }
 
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border:1px solid #eeeeee;
    border-radius: 5px;
    padding:0;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
  
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



  input[type="checkbox"]{
    display:none;
  }
  .checkmark:before{
      content:url(../img/empty_check.png);
  } 
:checked + .checkmark:before {
content: url(../img/check.png);
  
  }

  #profile{
      padding:5px;
      border: 1px solid black;
      border-radius: 5px;
  }
 input[type=text]{
     background-image: url(../img/searchicon.png);
     background-repeat: no-repeat;
     background-position: right;
 }

 @media (max-width: 440px) {
     .icon1, .icon2, .icon3, .icon4, .icon5, .icon6{
         display:none!important ;
     }
 }

.tuts-sups-blog{
    float:right;
    padding:10px;
    color:gray;
}
.ariel{
    color:#2191e9;
}
.ariel-container, .pullup{
    padding:10px; 
}
.pullup{
    float:right;
}
.default{
    margin:20px;
}